@CHARSET "UTF-8";

.content input,.content select {
	display: inline;
	width: 60%;
}

.top {
	height: 50px;
	background-color: rgba(27, 137, 196, 0.1);
	margin-bottom:30px;
}

.top button {
	background: #198ac8;
	font-size: 14px;
	color: #fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 26px;
	width: 76px;
}


.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
	background-color: rgba(54, 71, 96, 0.2);
}

.fixed-table-container .bs-checkbox {
    text-align: center;
    vertical-align: middle;
}

.head {
	width: 100%;
}

.content {
	margin-left: 30px;
}

.content label {
	font-family: "Microsoft YaHei-Regular";
	font-size: 14px;
	color: #333;
	width:75px;
}

.content .row{
	margin-left:0;
	margin-right:0;
}

.content input {
	margin-right: 10px;
	font-size: 12px;
	color: #666;
	display: inline;
}

.modal-content {
	width: 810px;
	height: 500px;
	margin: auto;
}

.modal-header {
	background: #364760;
	height: 40px;
	font-family: "Microsoft YaHei-Regular";
	font-size: 16px;
	color: #fff;
}

.modal-header label {
	font-family: "Microsoft YaHei-Regular";
	font-size: 16px;
	color: #fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.modal-header button {
	color: #fff;
}

.modal-body {
	padding: 0;
}

.modal-body label {
	font-family: "Microsoft YaHei-Regular";
	font-size: 16px;
	color: #333;
	margin-left: 20px;
	display: inline;
	width:69px;
}

.modal-body input,.modal-body select {
	display: inline;
	width: 270px;
	height: 32px;
	margin-left: 12px;
	font-size: 14px;
	color: #666;
}

.modal-footer button {
	background: #364760;
	font-size: 14px;
	color: #fff;
	margin-right: 20px;
	width: 86px;
	margin-top: 30px;
}

.col-xs-12 {
	padding: 0;
}

.col-xs-4 {
	margin-bottom: 10px;
}

.btn3:hover {
	background: #ffad33;
}

.container {
	width: 100%;
	padding: 0;
}


.col-xs-6,col-md-6 {
	margin-top: 20px;
}

.col-xs-12,col-md-12 {
	margin-top: 20px;
}

.modal-dialog{
	width:810px !important;
}

.timeLabelDiv{
  float:left;
  height: 34px;
  min-width: 70px;
}

.timeLabelDiv label{
  margin-top: 7px;
}

.timeChooseDiv{
 width: 50%;
 margin-top: 0px;
}

.timeChoose{
 width: 74%;
 margin-top: 0px;
 padding-left:5px;
}



