.headTitle label {
	text-align: right;
	display: inline-block;
	width: 49.5%;
	font-family: cursive;
	font-size: larger;
}

.headTitle label:FIRST-CHILD {
	text-align: left;
}

.headHr {
	border: 1px solid black;
	margin-bottom: 5px;
	margin-top: 0px;
}

.form-control {
	display: inline;
	width: 70%;
}

.col-xs-8 input {
	width: 73%;
}

.col-xs-4 input {
	width: 50%;
}

.row {
	margin-bottom: 7px;
	margin-left:0;
	margin-right:0;
}

.sample {
	margin-top: 25px;
}

.title {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	margin-top: 10px;
}

.title button {
	position: absolute;
	right: 15px;
	margin-top: -13px;
}

.footer {
	margin-top: 20px;
}

.footer button {
	float: right;
	margin-right: 20px;
	width: 90px;
}

#sampleTable th {
	border: 1px solid;
	text-align: center;
}

#sampleTable td {
	border: 1px solid;
	text-align: center;
}

.col-xs-12 input,.col-md-12 input{
	display: inline;
	width: 70%;
	height: 34px;
}

.timeLabelDiv{
  float:left;
  height: 34px;
  min-width: 70px;
}

.timeLabelDiv label{
  margin-top: 7px;
}

.timeChooseDiv{
 width: 50%;
 margin-top: 0px;
}



.col-xs-12 label,.col-md-12 label{
    font-family: "Microsoft YaHei-Regular";
	font-size: 16px;
	color: #333;
	margin-right:10px;
}

.timeChoose{
 width: 70%;
 margin-top: 0px;
}

.col-xs-12,.col-md-12{
	margin-top:10px;
}

.sampleSelect{
	position: absolute;
	height: auto;
	max-height: 100px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 20%;
    float: left;
    width: 65.5%;
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 3px;
    background-color: #fff;
    z-index: 10;
}
.sampleSelect ul {
	display: block;
	height:auto;
    max-height: 100px;
    overflow-y: scroll;
	border:none;
	margin:0;
	margin-left:-40px;
}
.sampleSelect ul li{
	display: block;
    vertical-align: middle;
	height:30px;
	line-height: 30px;
	list-style-type: none;
	text-indent: 12px;
}
.sampleSelect ul li.noDate{
 	color: red;
}
.sampleSelect ul li:hover{
	background-color:#dcdcdc;
}