@CHARSET "UTF-8";

#container {	
	width: 100%;	
	float: left;
}

.top{
	margin-top: 20px;
}

.top label{
	font-size: 14px;
	color: #333;
}

.top input{
	font-size: 14px;
	color: #999;
	width: 200px;
	border:none;
	display: inline;
}

.top textarea{
	width: 620px;
	height: 120px;
	padding: 0;
	margin-top: 20px;
	border:none;
	display: inline;
}

.col-xs-12{
	padding:0;
}


#left{
	width: 57%;
	display: inline-block;
	margin-left: 15px;
	float: left;
	padding: 0;
}

.head{
	height: 40px;
	border:1px solid #ccc;
	margin-top: 20px;
}

.head img{
	width: 18px;
	height: 18px;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
}

.head label{
	font-family: "Microsoft YaHei-Regular";
	font-size: 16px;
	color: #333;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.buttons{
	margin-top: 20px;
	margin-left: 15px;
}

.task_button {
	display:inline-block;
	width: 100px;
	height: 100px;
	font-family:'Microsoft YaHei';
	font-size: 13px;
	border:2px solid;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left:15px;
	padding: 0；

}

.task_button input{
	width: 40px;
	height: 40px;
	margin-top: 16px;
	margin-left: 30px;
}

.task_button1{
	border-color: #198ac8;
	color:#198ac8; 
}

.task_button2{
	border-color: #198ac8;
	color:#198ac8; 
}

.task_button3{
	border-color: #fd9421;
	color:#fd9421; 
}

.task_button4{
	border-color: #fd9421;
	color:#fd9421; 
}

.task_button5{
	border-color: #47da18;
	color:#47da18;
}

.task_button6{
	border-color: #47da18;
	color: #47da18; 
}

.task_button p{
	margin-top: 16px;
	text-align:center;
}


#right {
	width: 40%;
	display: inline-block;
	float:right;
}

.rightHead{
	height:40px;
	border:1px solid #ccc;
}

.rightHead img{
	width: 18px;
	height: 18px;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
}

.rightHead label{
	font-family: "Microsoft YaHei-Regular";
	font-size: 16px;
	color: #333;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.messageTable{
	width:100%;
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
	background-color: rgba(209, 231, 243, 1);
}

