@CHARSET "UTF-8";
*{
	font-size:10px !important;
}

.bootstrap-table .table thead tr{
	color:#fff;
	background:#364760;
	font-size: 11px;
}  

.table{
	font-size:10px !important;
}
.tree{
		font-size:10px !important;
}
.btn-primary {
	background-color: #238bc8;
}
.btn-primary:hover {
	background-color: #0677b5;
}

.modal-header {
	background: #37475f;
	color: #fff;
}

.close {
	color: #fff;
	opacity: 1;
}
.modal-footer .btn-primary {
	background-color: #37475f;
}
.modal-footer .btn-primary:hover {
	background-color: #0677b5;
}
.modal-dialog p{
	font-size: 16px;
    color: #000;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.modal-dialog .col-xs-12 input  ,.modal-dialog .col-md-12 input{
	height: 25px;
}
.modal-footer button{
	font-size: 16px;
}
