	label {
    font-size: 16px;
    color: #333;
	}
	.form-control {
	display: inline;
	width: 70%;
	}
	.row {
	margin-bottom: 10px;
	}
	.row label {
		width: 26%;
		text-align-last: justify;
		min-wdith: 80px;
	}
	.row label.wide{
		width: 25%;
	}
	
	#restcontent {
    height: 70px;
    background-color: #e8f3f9;
    position: relative;
        margin-bottom: 20px;
	}
	.newButton{
	    float: right;
    margin-right: 28px;
    margin-top: 20px;
	}
	.tanSureButton{
	width: 106px;
    height: 40px;
    margin-right: 20px;
 }
	.tanCancelButton{
	width: 106px;
    height: 40px;
    }
    .fileText{
    float:left;
    width: 50%;
    }
    .fileImage{
      float:left;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
    }
    .fileClick{
      float:left;
       width: 72px;
       margin-top: 6px;
       font-size: 0;
    cursor: pointer;
     height: 20px;
      filter:alpha(opacity=0;); /*IE�˾���͸����50%*/
	 -moz-opacity:0;; /*Firefox˽�У�͸����50%*/
	  opacity:0;
    }
    .fileFont{
    position:absolute;
    left: 326px;
    top: -1px;
    cursor:pointer;
    }
    
	#table thead,.modal-header {
	background-color: #364760;
	color: #fff;
	font-size: blod 14px;
	}
	.timeChooseDiv {
    float: right;
    width: 73%;
	}
