<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.xiji.dao.department.DepartmentDao" >
  <resultMap id="BaseResultMap" type="com.cqut.xiji.entity.department.Department" >
    <id column="DEPARTMENTID" property="DEPARTMENTID" jdbcType="VARCHAR" />
    <result column="NAME" property="NAME" jdbcType="VARCHAR" />
    <result column="INTRODUCTION" property="INTRODUCTION" jdbcType="VARCHAR" />
    <result column="HEAD" property="HEAD" jdbcType="VARCHAR" />
    <result column="SUPERIOR" property="SUPERIOR" jdbcType="VARCHAR" />
    <result column="CREATTIME" property="CREATTIME" jdbcType="TIMESTAMP" />
    <result column="REMARKS" property="REMARKS" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DEPARTMENTID, NAME, INTRODUCTION, HEAD, SUPERIOR, CREATTIME, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from department
    where DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from department
    where DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.xiji.entity.department.Department" >
    insert into department (DEPARTMENTID, NAME, INTRODUCTION, 
      HEAD, SUPERIOR, CREATTIME, 
      REMARKS)
    values (#{DEPARTMENTID,jdbcType=VARCHAR}, #{NAME,jdbcType=VARCHAR}, #{INTRODUCTION,jdbcType=VARCHAR}, 
      #{HEAD,jdbcType=VARCHAR}, #{SUPERIOR,jdbcType=VARCHAR}, #{CREATTIME,jdbcType=TIMESTAMP}, 
      #{REMARKS,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.xiji.entity.department.Department" >
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="DEPARTMENTID != null" >
        DEPARTMENTID,
      </if>
      <if test="NAME != null" >
        NAME,
      </if>
      <if test="INTRODUCTION != null" >
        INTRODUCTION,
      </if>
      <if test="HEAD != null" >
        HEAD,
      </if>
      <if test="SUPERIOR != null" >
        SUPERIOR,
      </if>
      <if test="CREATTIME != null" >
        CREATTIME,
      </if>
      <if test="REMARKS != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="DEPARTMENTID != null" >
        #{DEPARTMENTID,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null" >
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="INTRODUCTION != null" >
        #{INTRODUCTION,jdbcType=VARCHAR},
      </if>
      <if test="HEAD != null" >
        #{HEAD,jdbcType=VARCHAR},
      </if>
      <if test="SUPERIOR != null" >
        #{SUPERIOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATTIME != null" >
        #{CREATTIME,jdbcType=TIMESTAMP},
      </if>
      <if test="REMARKS != null" >
        #{REMARKS,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.xiji.entity.department.Department" >
    update department
    <set >
      <if test="NAME != null" >
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="INTRODUCTION != null" >
        INTRODUCTION = #{INTRODUCTION,jdbcType=VARCHAR},
      </if>
      <if test="HEAD != null" >
        HEAD = #{HEAD,jdbcType=VARCHAR},
      </if>
      <if test="SUPERIOR != null" >
        SUPERIOR = #{SUPERIOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATTIME != null" >
        CREATTIME = #{CREATTIME,jdbcType=TIMESTAMP},
      </if>
      <if test="REMARKS != null" >
        REMARKS = #{REMARKS,jdbcType=VARCHAR},
      </if>
    </set>
    where DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.xiji.entity.department.Department" >
    update department
    set NAME = #{NAME,jdbcType=VARCHAR},
      INTRODUCTION = #{INTRODUCTION,jdbcType=VARCHAR},
      HEAD = #{HEAD,jdbcType=VARCHAR},
      SUPERIOR = #{SUPERIOR,jdbcType=VARCHAR},
      CREATTIME = #{CREATTIME,jdbcType=TIMESTAMP},
      REMARKS = #{REMARKS,jdbcType=VARCHAR}
    where DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR}
  </update>
</mapper>