<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.xiji.dao.employee.EmployeeDao" >
  <resultMap id="BaseResultMap" type="com.cqut.xiji.entity.employee.Employee" >
    <id column="EMPLOYEEID" property="EMPLOYEEID" jdbcType="VARCHAR" />
    <result column="NAME" property="NAME" jdbcType="VARCHAR" />
    <result column="LOGINNAME" property="LOGINNAME" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="PASSWORD" jdbcType="VARCHAR" />
    <result column="SEX" property="SEX" jdbcType="VARCHAR" />
    <result column="CONTACT" property="CONTACT" jdbcType="VARCHAR" />
    <result column="EMAIL" property="EMAIL" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="ADDRESS" jdbcType="VARCHAR" />
    <result column="ROLEID" property="ROLEID" jdbcType="VARCHAR" />
    <result column="DOSITION" property="DOSITION" jdbcType="VARCHAR" />
    <result column="DEPARTMENTID" property="DEPARTMENTID" jdbcType="VARCHAR" />
    <result column="CREATTIME" property="CREATTIME" jdbcType="TIMESTAMP" />
    <result column="STATE" property="STATE" jdbcType="VARCHAR" />
    <result column="REMARKS" property="REMARKS" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    EMPLOYEEID, NAME, LOGINNAME, PASSWORD, SEX, CONTACT, EMAIL, ADDRESS, ROLEID, DOSITION, 
    DEPARTMENTID, CREATTIME, STATE, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from employee
    where EMPLOYEEID = #{EMPLOYEEID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from employee
    where EMPLOYEEID = #{EMPLOYEEID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.xiji.entity.employee.Employee" >
    insert into employee (EMPLOYEEID, NAME, LOGINNAME, 
      PASSWORD, SEX, CONTACT, 
      EMAIL, ADDRESS, ROLEID, 
      DOSITION, DEPARTMENTID, CREATTIME, 
      STATE, REMARKS)
    values (#{EMPLOYEEID,jdbcType=VARCHAR}, #{NAME,jdbcType=VARCHAR}, #{LOGINNAME,jdbcType=VARCHAR}, 
      #{PASSWORD,jdbcType=VARCHAR}, #{SEX,jdbcType=VARCHAR}, #{CONTACT,jdbcType=VARCHAR}, 
      #{EMAIL,jdbcType=VARCHAR}, #{ADDRESS,jdbcType=VARCHAR}, #{ROLEID,jdbcType=VARCHAR}, 
      #{DOSITION,jdbcType=VARCHAR}, #{DEPARTMENTID,jdbcType=VARCHAR}, #{CREATTIME,jdbcType=TIMESTAMP}, 
      #{STATE,jdbcType=VARCHAR}, #{REMARKS,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.xiji.entity.employee.Employee" >
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="EMPLOYEEID != null" >
        EMPLOYEEID,
      </if>
      <if test="NAME != null" >
        NAME,
      </if>
      <if test="LOGINNAME != null" >
        LOGINNAME,
      </if>
      <if test="PASSWORD != null" >
        PASSWORD,
      </if>
      <if test="SEX != null" >
        SEX,
      </if>
      <if test="CONTACT != null" >
        CONTACT,
      </if>
      <if test="EMAIL != null" >
        EMAIL,
      </if>
      <if test="ADDRESS != null" >
        ADDRESS,
      </if>
      <if test="ROLEID != null" >
        ROLEID,
      </if>
      <if test="DOSITION != null" >
        DOSITION,
      </if>
      <if test="DEPARTMENTID != null" >
        DEPARTMENTID,
      </if>
      <if test="CREATTIME != null" >
        CREATTIME,
      </if>
      <if test="STATE != null" >
        STATE,
      </if>
      <if test="REMARKS != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="EMPLOYEEID != null" >
        #{EMPLOYEEID,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null" >
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="LOGINNAME != null" >
        #{LOGINNAME,jdbcType=VARCHAR},
      </if>
      <if test="PASSWORD != null" >
        #{PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="SEX != null" >
        #{SEX,jdbcType=VARCHAR},
      </if>
      <if test="CONTACT != null" >
        #{CONTACT,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL != null" >
        #{EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="ADDRESS != null" >
        #{ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="ROLEID != null" >
        #{ROLEID,jdbcType=VARCHAR},
      </if>
      <if test="DOSITION != null" >
        #{DOSITION,jdbcType=VARCHAR},
      </if>
      <if test="DEPARTMENTID != null" >
        #{DEPARTMENTID,jdbcType=VARCHAR},
      </if>
      <if test="CREATTIME != null" >
        #{CREATTIME,jdbcType=TIMESTAMP},
      </if>
      <if test="STATE != null" >
        #{STATE,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS != null" >
        #{REMARKS,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.xiji.entity.employee.Employee" >
    update employee
    <set >
      <if test="NAME != null" >
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="LOGINNAME != null" >
        LOGINNAME = #{LOGINNAME,jdbcType=VARCHAR},
      </if>
      <if test="PASSWORD != null" >
        PASSWORD = #{PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="SEX != null" >
        SEX = #{SEX,jdbcType=VARCHAR},
      </if>
      <if test="CONTACT != null" >
        CONTACT = #{CONTACT,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL != null" >
        EMAIL = #{EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="ADDRESS != null" >
        ADDRESS = #{ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="ROLEID != null" >
        ROLEID = #{ROLEID,jdbcType=VARCHAR},
      </if>
      <if test="DOSITION != null" >
        DOSITION = #{DOSITION,jdbcType=VARCHAR},
      </if>
      <if test="DEPARTMENTID != null" >
        DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR},
      </if>
      <if test="CREATTIME != null" >
        CREATTIME = #{CREATTIME,jdbcType=TIMESTAMP},
      </if>
      <if test="STATE != null" >
        STATE = #{STATE,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS != null" >
        REMARKS = #{REMARKS,jdbcType=VARCHAR},
      </if>
    </set>
    where EMPLOYEEID = #{EMPLOYEEID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.xiji.entity.employee.Employee" >
    update employee
    set NAME = #{NAME,jdbcType=VARCHAR},
      LOGINNAME = #{LOGINNAME,jdbcType=VARCHAR},
      PASSWORD = #{PASSWORD,jdbcType=VARCHAR},
      SEX = #{SEX,jdbcType=VARCHAR},
      CONTACT = #{CONTACT,jdbcType=VARCHAR},
      EMAIL = #{EMAIL,jdbcType=VARCHAR},
      ADDRESS = #{ADDRESS,jdbcType=VARCHAR},
      ROLEID = #{ROLEID,jdbcType=VARCHAR},
      DOSITION = #{DOSITION,jdbcType=VARCHAR},
      DEPARTMENTID = #{DEPARTMENTID,jdbcType=VARCHAR},
      CREATTIME = #{CREATTIME,jdbcType=TIMESTAMP},
      STATE = #{STATE,jdbcType=VARCHAR},
      REMARKS = #{REMARKS,jdbcType=VARCHAR}
    where EMPLOYEEID = #{EMPLOYEEID,jdbcType=VARCHAR}
  </update>
</mapper>