<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.cqut.xiji.dao.module.ModuleDao">
 
    <insert id="save" parameterType="com.cqut.xiji.entity.module.Module">  
     <![CDATA[   
         insert into  module ( moduleID, moduleCode, moduleType, moduleName, url, parent, icon, hasChild, isEndOfModuleLevel, level0, isFolder, showMenuPage, childShowType, remarks)
         values(#{MODULEID}, #{MODULECODE}, #{MODULETYPE}, #{MODULENAME}, #{URL}, #{PARENT}, #{ICON}, #{HASCHILD}, #{ISENDOFMODULELEVEL}, #{LEVEL0}, #{ISFOLDER}, #{SHOWMENUPAGE}, #{CHILDSHOWTYPE}, #{REMARKS})	
     ]]>   
    </insert>
  
    
    <!--  mysql -->
    <insert id="saveEntities"> 
	 	 <![CDATA[  
	    	insert into module ( moduleID, moduleCode, moduleType, moduleName, url, parent, icon, hasChild, isEndOfModuleLevel, level0, isFolder, showMenuPage, childShowType, remarks) VALUES 
	    ]]>  
	    <foreach collection="entities" item="item" index="index" separator=",">   
	         ( #{item.MODULEID}, #{item.MODULECODE}, #{item.MODULETYPE}, #{item.MODULENAME}, #{item.URL}, #{item.PARENT}, #{item.ICON}, #{item.HASCHILD}, #{item.ISENDOFMODULELEVEL}, #{item.LEVEL0}, #{item.ISFOLDER}, #{item.SHOWMENUPAGE}, #{item.childShowType}, #{item.REMARKS})
	    </foreach> 
	</insert> 
	
	
	<update id="updateByID" >
		<![CDATA[  
			update module set 	
      		moduleCode = #{entity.MODULECODE},
      		moduleType = #{entity.MODULETYPE},
      		moduleName = #{entity.MODULENAME},
      		url = #{entity.URL},
      		parent = #{entity.PARENT},
      		icon = #{entity.ICON},
      		hasChild = #{entity.HASCHILD},
      		isEndOfModuleLevel = #{entity.ISENDOFMODULELEVEL},
      		level0 = #{entity.LEVEL0},
      		isFolder = #{entity.ISFOLDER},
      		showMenuPage = #{entity.SHOWMENUPAGE},
      		childShowType = #{entity.CHILDSHOWTYPE},
      		remarks = #{entity.REMARKS}
      	]]>
      	<where>
      		moduleID = #{id}
      	</where>  		
	</update>
	
	<update id="updateByCode" >
		<![CDATA[  
			update module set 	
      		moduleName = #{entity.MODULENAME},
      		url = #{entity.URL},
      		showMenuPage = #{entity.SHOWMENUPAGE}
      	]]>
      	<where>
      		moduleCode = #{id}
      	</where>  		
	</update>
		
	<update id="updateByCondition">
		<![CDATA[  
			update module set 	
      		moduleCode = #{entity.MODULECODE},
      		moduleType = #{entity.MODULETYPE},
      		moduleName = #{entity.MODULENAME},
      		url = #{entity.URL},
      		parent = #{entity.PARENT},
      		icon = #{entity.ICON},
      		hasChild = #{entity.HASCHILD},
      		isEndOfModuleLevel = #{entity.ISENDOFMODULELEVEL},
      		level0 = #{entity.LEVEL0},
      		isFolder = #{entity.ISFOLDER},
      		showMenuPage = #{entity.SHOWMENUPAGE},
      		childShowType = #{entity.CHILDSHOWTYPE},
      		remarks = #{entity.REMARKS}
      	]]>
      	<where>
      		<if test="condition != null">
      			${condition}
      		</if>
      	</where>  		
	</update>	
	
	<update id="updatePropByID">
		<![CDATA[  
			update  module set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	moduleID = #{id}
        </where>
	</update>	
	
	<update id="updatePropByCondition">
		<![CDATA[  
			update  module set
		]]>
		<foreach collection="prop" item="item" index="index" separator=",">
          	${item.key} = #{item.value}
        </foreach>
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</update>	
	
   <delete id="deleteByID"  parameterType="string">
		<![CDATA[   
			delete from module   
		]]>
		<where>
			moduleID = #{ID}
		</where>
	</delete>	
	
	<delete id="deleteByCondition"  parameterType="string">
		<![CDATA[   
			delete from module  
		]]>
		<where>
			<if test="condition != null">
				${condition}
			</if>	
		</where>	
	</delete>	
	
	<delete id="deleteEntities"  parameterType="string">
		<![CDATA[   
			delete from module    
		]]>
		<where>
			 moduleID in
			 <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
          		#{item}
        	</foreach>
		</where>	
	</delete>
	
	
	<select id="getByID" resultType="com.cqut.xiji.entity.module.Module">
		<![CDATA[   
			select * from module 
		]]>
		<where>
			moduleID = #{ID}
		</where>
	</select>
	
	<select id="getByCondition" resultType="com.cqut.xiji.entity.module.Module">
		<![CDATA[   
			select * from module 
		]]>
		<where>
			<if test="condition != null">
		 		${condition}
		 	</if>
		</where>
	</select>
	
	<select id="findByID" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from module 
        <where>
        	moduleID = #{id}
        </where>
	</select>	
	
	
	<select id="findByCondition" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from module 
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</select>		
	
		
	<select id="getCountByCondition" resultType="int">
		select count(distinct moduleID) from module
		<where>
        	<if test="condition != null">
        		${condition}
        	</if>	
        </where>
	</select>	
	
	<select id="findModulesByCondition" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from module 
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</select>		
</mapper>