@CHARSET "UTF-8";
.content1{
	width:1366px;
	margin:0 auto;
}
.content{
	width:1210px;
	margin:0 auto;
}
.header{

}
.logoline{
	height:68px;
}
.logo{
	position:relative;
	left:72px;
	top:4px;
	height:60px;
	width:500px;
}
.line{
	height:40px;
	background-color:#2999d5;
}
.tittleline{
	float:left;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:76px;
}
.item{
	float:left;
	display:block;
}
.item-inner{
	display:inline-block;
	color:#fff;
	width:90px;
	margin:0 2px;
}
.item-inner:active{
	background-color:#0e7ebb;
	}
.item-inner:hover{
	background-color:#0e7ebb;
	}
.tittleline span{
	color:#2692ce;
	}	
.register{
	float:right;
	margin-right:76px;
	color:#fff;
	height:40px;
	line-height:40px;
	text-align:center;
	}
.register:hover{
	color:#CCC;
	}
.banner{
	margin:0 auto;
	overflow:hidden;
}
.footer{
	height:100px;
	border-top:3px solid #198ac8;
	margin-top:20px;
	}
.btext{
	padding-top:10px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
}

//自己部分的css
.main{
  	margin:0px auto;
  	width:1210px;
  	height:2000px;
  }                                                   
                                                     
.container{                        
	height:540px;
	width:1200px;
	
	margin-left:100px;
	margin-top:40px;
	
	
}
.title h3{
	color:blue;
}
.container1{
	height:500px;
	width:650px;
	margin-top:20px;
	float:left;
	

	
}
h4{
	margin-left:40px;
	
}

.form{
	height:457px;
	width:600px;
	border:1px solid #dddddd;
	margin-left:20px;
	padding-top:30px;
	
}
.container2{
	width:400px;
	margin-right:50px;
	float:right;
}

.control-label1{
	color:red;
	font-weight:400;
}
.shangchuan{
	position:absolute;
	overflow:hidden;
	left:12px;
	top:8px;
	z-index:-1;
	color: blue;
	width: 200px;
}

.col-sm-2 p{
	font-size: 16px;
}