@CHARSET "UTF-8";
.contairw {
	min-width: 1300px;
}

.navbar {
	background: url("../../img/houseBg.png") no-repeat 50%;
}

.navbar-brand {
	positive: relative;
}

.navbar-logo {
	position: absolute;
	top: 25px;
	left: 40px;
	transform: scale(2.8);
}

.navbar-cancel {
	float: right;
	margin: 12px 20px 12px 0;
}

.navbar-cancel a{
	color: #393939;
}

.navbar-date-info {
	float: right;
	margin: 13px 20px;
	color: #3480a6;
}
.week, .season, .time {
	color: #393939;
}

.ace-nav>li.light-blue>a {
	background-color: #37475f;
}

.sidebar {
    height: auto;
    position: static;
    background: #37475f;
}
.sidebar:before {
    content: "";
    display: block;
    width: 190px;
    position: absolute;
    bottom: 0px;
    top: 45px;
    z-index: -1;
    background-color: #37475f;
    border: 1px solid #ccc;
    border-width: 0 1px 0 0;
}
.sidebar.display {
	/* display: block;
	padding-bottom: 0; */
	
}

.page-header {
	height: 50px;
/* 	margin: 20px 10px;
	border: 1px #ccc solid;
	padding:0px; 
	www*/
}
.ace-settings-container {
	top: 110px;
	right:10px;
}
/* .treeview {
	margin-top: -21px;
	margin-bottom: -20px;
} */



#navName {
	font-size: 22px;
}
#editpwdModal .col-xs-3{
	text-align: right;
}
#content_frame{
	
	width: 100%;
	min-height:510px;
}
.col-xs-12-w{
margin-left: 5px;
}
.fixed-table-body #table .bs-checkbox {
vertical-align: middle;
}  

.sidebar-header {
	background: url("../../img/personImgBg.png");
	background-size: cover;
	height: 150px;
	position: relative;
}

.sidebar-header:before {
	position: absolute;
	content: "";
	background: #37475f;
	width: 100%;
	height: 100%;
	line-height:10px;
	background: 100px;
	left: 0;
	top: 0;
	opacity: .5;
}

.sidebar-header .avatar {
	text-align: center;
	padding-top: 20px;
}

.sidebar-header .avatar img{
	border-radius: 50%;
	border: 3px solid #fff;
}

.sidebar-header .name {
	display: inline-block;
	width: 100%;
	margin: 25px 0;
	color: #fff;
	text-align: center;
}

.siderbar .nav-list {
	background: #37475f;
	border-top: 1px solid #253347;
}

.tree {
	padding: 0;
}

.tree:before {
	left: -1px;
}
.list-group {
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 5px;
}

.list-group-item {
	background: #37475f;
	color: #fff;
	border: 1px solid #253347;
}

.list-group-item a {
	padding-left: 10px;
}

.tree .list-group li:hover {

	background: #27354a;
}


.sidebar-collapse {
	background: #37475f;
	border-bottom: none;
}

.sidebar-collapse:before {
	border-top: none;
}

.breadcrumb {
	margin-left: 0;
}

/* .column{
	height: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color: #333;
	list-style: none;
	width: 80px;
}

.icon{
	margin: 0 10px;
} */