<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.cqut.xiji.dao.module.ModuleQueryDao">
	<update id="updateByCode" >
		<![CDATA[  
			update module set 	
      		moduleName = #{entity.MODULENAME},
      		url = #{entity.URL},
      		showMenuPage = #{entity.SHOWMENUPAGE},
      		icon = #{entity.icon}
      	]]>
      	<where>
      		moduleCode = #{id}
      	</where>  		
	</update>
	
	<select id="findModulesByCondition" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from module 
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</select>	
	
	<delete id="deleteByModuleCode"  parameterType="String">
		<![CDATA[   
			delete from module    
		]]>
		<where>
			 <foreach collection="codes" item="item" index="index" separator="or" open="(" close=")">
          		 moduleCode like #{item}
        	</foreach>
		</where>	
	</delete>
</mapper>