<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.xiji.dao.role.RoleDao" >
  <resultMap id="BaseResultMap" type="com.cqut.xiji.entity.role.Role" >
    <id column="ROLEID" property="ROLEID" jdbcType="VARCHAR" />
    <result column="NAME" property="NAME" jdbcType="VARCHAR" />
    <result column="CREATOR" property="CREATOR" jdbcType="VARCHAR" />
    <result column="CREATTIME" property="CREATTIME" jdbcType="TIMESTAMP" />
    <result column="REMARKS" property="REMARKS" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLEID, NAME, CREATOR, CREATTIME, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role
    where ROLEID = #{ROLEID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role
    where ROLEID = #{ROLEID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.xiji.entity.role.Role" >
    insert into role (ROLEID, NAME, CREATOR, 
      CREATTIME, REMARKS)
    values (#{ROLEID,jdbcType=VARCHAR}, #{NAME,jdbcType=VARCHAR}, #{CREATOR,jdbcType=VARCHAR}, 
      #{CREATTIME,jdbcType=TIMESTAMP}, #{REMARKS,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.xiji.entity.role.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ROLEID != null" >
        ROLEID,
      </if>
      <if test="NAME != null" >
        NAME,
      </if>
      <if test="CREATOR != null" >
        CREATOR,
      </if>
      <if test="CREATTIME != null" >
        CREATTIME,
      </if>
      <if test="REMARKS != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ROLEID != null" >
        #{ROLEID,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null" >
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="CREATOR != null" >
        #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATTIME != null" >
        #{CREATTIME,jdbcType=TIMESTAMP},
      </if>
      <if test="REMARKS != null" >
        #{REMARKS,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.xiji.entity.role.Role" >
    update role
    <set >
      <if test="NAME != null" >
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="CREATOR != null" >
        CREATOR = #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATTIME != null" >
        CREATTIME = #{CREATTIME,jdbcType=TIMESTAMP},
      </if>
      <if test="REMARKS != null" >
        REMARKS = #{REMARKS,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLEID = #{ROLEID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.xiji.entity.role.Role" >
    update role
    set NAME = #{NAME,jdbcType=VARCHAR},
      CREATOR = #{CREATOR,jdbcType=VARCHAR},
      CREATTIME = #{CREATTIME,jdbcType=TIMESTAMP},
      REMARKS = #{REMARKS,jdbcType=VARCHAR}
    where ROLEID = #{ROLEID,jdbcType=VARCHAR}
  </update>
  
  <select id="getRolesByCondition" resultType="com.cqut.xiji.entity.role.Role">
		<![CDATA[   
			select * from role 
		]]>
		<where>
			<if test="condition != null">
		 		${condition}
		 	</if>
		</where>
	</select>
  
  <delete id="deleteEntities"  parameterType="string">
		<![CDATA[   
			delete from role    
		]]>
		<where>
			 ID in
			 <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
          		#{item}
        	</foreach>
		</where>	
	</delete>
	
	<select id="getRolesCountByCondition" resultType="int">
		select count(distinct ID) from role
		<where>
        	<if test="condition != null">
        		${condition}
        	</if>	
        </where>
	</select>
</mapper>