@CHARSET "UTF-8";
/* #main{
	width:94%;
	margin:0 auto;
} */
body {
    margin: 0;
    overflow-x: hidden;
}

#main{
	margin-left:16px;
	width: 98%
}

#searcherArea{
	margin-top: 7px;
}
#head{
	width:100%;
	height:150px;

}
#center{
	width:100%;
}
#bottom{
	width:100%;

}
#font{
	text-align:center;
	font-size:22px;
}
#Serialnumber{
	float:right;
}
.headtext{
	display:inline-block;
	margin-left:30px;
	height:36px;
	line-height:36px;
	margin-top:40px;
}
.text{
	display:inline-block;
	width:200px;
	margin-top:-5px;
}
#restcontent{
	height: 70px;
	background-color: #e8f3f9;
	position: relative;
}
.btncss{
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -17px;
}
.btncss:hover {
    background: #ffc773;
}
.Allbtn{
	position: absolute;
	right: 110px;
	top: 50%;
	margin-top: -17px;
}
.Allbtn:hover {
    background: #ffc773;
}
.Addbtn{
	position: absolute;
	right: 220px;
	top: 50%;
	margin-top: -17px;
}
.Addbtn:hover {
    background: #ffc773;
}
.detailsbtn{
	position: absolute;
	right: 300px;
	top: 50%;
	margin-top: -17px;
}
.detailsbtn:hover {
    background: #ffc773;
}
.delbtn{
	position: absolute;
	right: 410px;
	top: 50%;
	margin-top: -17px;
}
.delbtn:hover {
    background: #ffc773;
}
.changebtn{
	position: absolute;
	right: 490px;
	top: 50%;
	margin-top: -17px;
} 
.changebtn:hover {
    background: #ffc773;
}
.thatbtn{
	position: absolute;
	right: 570px;
	display:none;
	margin-top: -17px;
	top: 50%;
}
.thatbtn:hover {
    background: #ffc773;
}
#tablecontent{
	margin-top:10px;
}
#listdata li{
	text-align:center;
}
#listdata li:hover{
	cursor:pointer;
	background:#F5F5F5;
	font-color:black;
	text-align:center;
}
.mystyle{
	height:34px;
	width:200px;
	line-height:20px;
	font-size:17px;
}
li{
	text-align:center;
}
li:hover{
	cursor:pointer;
	background:#F5F5F5;
	font-color:black;
}
.timeStyle{
	padding:0px;
	height:34px;
	width:37px;
	margin-top:-3px;
	margin-left:-7px;
	border-bottom-left-radius:0;
	border-top-left-radius:0;
}
#tablecontent tr{
	height:45px;
}
#listdata{
	margin-left:30px;
}
#listdata2{
	margin-left:30px;
}
#listul2{
	margin-top:37px;
}
.trbg{
	background:yellow !important;
}
.tan{
	position:fixed;
	height:100px;
	z-index:9999;
	opacity:0.8;
	padding-top:30px;
	text-align:center;
	font-size:25px;
	display:none;
}
.fixed-table-body{
	height:auto;
	min-height: 450px;
}
.text{
	display: inline;
	width: 70%;
}
.row{
	margin-bottom: 10px;
}
.row label{
	width: 20%;
	min-width: 80px;
}
label{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
.table thead tr{
	color: #fff;
	background: #364760;
	font-size: 14px;
}