@CHARSET "UTF-8";

body {
	min-width: 1100px;
	width: 99%;
}

.form-control {
	display: inline-block;
}

.content {
	width: 98%;
	margin: 5px auto;
}

.hrStyle {
	border: 1px solid black;
}

.title label {
	font-family: cursive;
	font-size: larger;
}

.clientInfo .row {
	margin-top: 10px;
}

.clientInfo label {
	width: 25%;
}

.clientInfo span {
	width: 65%
}

.textRequire {
	width: 98%;
	margin-left: 1%;
	marigin-right: 1%;
	height: 100px !important;
	resize: none;
	background: #fff !important;
}

.buttonGroup button:hover {
	backround-color: #ffad33 !important;
}

.sampleInfo button {
	margin-left: 10px;
}

#equipmentInfo button:hover,.sampleInfo button:hover,#testprojectInfo button:hover
	{
	background-color: #ffad33 !important;
}

#ensure,#registTestprojectSure {
	background-color: #238bc8 !important;
}

.equipmentList,.testprojectList {
	height: 250px;
	overflow-y: scroll;
}

.equipmentList div,.testprojectList div {
	margin-top: 10px
}

.sampleInfoDiv {
	width: 100%;
	margin: 20px auto;
}

#sampleInfoTable .btn-sm,.btn-group-sm>.btn {
	height: 30px;
}

#sampleInfoTable a {
	color: #000 !important;
}

#sampleInfoTable a.editable-click {
	border-color: #000 !important;
}

.originalNumber .form-control {
	width: 32%;
}

.originalNumber,.fileSummary,.remarks {
	width: 96%;
	margin: 10px auto;
}

.fileSummary label,.remarks label {
	width: 16%;
	float: left;
}

.fileSummary textarea,.remarks textarea {
	width: 75%;
	height: 100px;
	resize: none;
	overflow-y: scroll;
}

.bs-checkbox {
	vertical-align: middle !important;
}
