@CHARSET "UTF-8";
body{
	background:#fff;
	width:100%;
	height:100%;
	margin-top:0;
	margin-left:0;
}
/* #main{
	width:1366px;
	hieight:100%;

	margin:0 auto;
		} */
/* ul{
	display:inline-block;
	margin-top:6px;
	margin-elft:38px;
}
ul li{
	font-size:14px;
	list-style:none;
	float:left;
	color:#fff;
	cursor:pointer;
	margin-left:0px;} */
.lia{
	width:100px;
	height:28px;
	line-height:28px;
	text-align:center;
}
.heiline{
	display:inline-block;
	height:28px;
	border-left:2px solid #0e7ebb;}

#topbar{
	height:57px;
	width:1366px;
}
#toplogo{
	display:inline-block;
	height:46px;
	width:46px;
	float:left;
	margin-left:52px;
	margin-top:5px;
	background:url(../../../../module/img/切图/logo.png);}
#toptitle{
	display:inline-block;
	height:47px;
	width:500px;
	margin-left:20px;
	margin-top:5px;}
#menubar{
	height:40px;
	width:100%;
	background:-moz-linear-gradient(top,#3da9e4,#2f9ed9);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3da9e4',endColorStr='#2f9ed9',gradientType='0');
	background:-o-linear-gradient(top,#3da9e4, #2f9ed9);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3da9e4), to(#2f9ed9));}
.menucenter{
	height:40px;
	width:1206px;
	line-height:50px;
	margin:0 auto;

	}
.menucenter2{
	float:right;}

#backgbar{
	height:255px;
	width:1366px;
	margin:0 auto;
	background:url('../../../../module/img/切图/onlineInquiry_banner.png');
	background-size:auto;
	}
.bleft{
	display:inline-block;
	float:left;
	height:255px;
	width:277px;
}
.bright{
	height:255px;
	width:277px;

	margin-left:1643px;}
#content{
	height:600px;
	width:1366px;
	margin:0 auto;
}
#bottom{
	height:130px;
	width:1366px;
	margin:0 auto;
	margin-top:10px;
}
#contentbody{

	height:550px;
	margin-top:30px;
}
.contentbody{

	height:500px;
	margin-top:30px;}
#contentbody_left{
	width:218px;
	height:300px;
	border:1px solid #e5e5e5;
	float:left;
	overflow:hidden;}
.contentlistfirst{
	height:32px;
	width:218px;
	background:-moz-linear-gradient(top,#F2F2F2,#fff);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F2F2F2',endColorStr='#fff',gradientType='0');
	background:-o-linear-gradient(top,#F2F2F2, #fff);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2), to(#fff));
	}
.contentlist2{
	height:32px;
	width:171px;
	line-height:32px;
	padding-left:17px;
	margin:0 auto;
	font-size:16px;
	background:url(../../images/index_column1.png) no-repeat 0% 100%;
	}
#contentlist1{
	height:32px;
	width:171px;
	margin:0 auto;
	line-height:32px;
	background:url(../../images/query_icon.png) no-repeat 0% 50%;}
.contentlist{
	height:32px;
	width:171px;
	line-height:32px;
	border-bottom:1px solid #D7D7D7;
	padding-left:17px;
	margin:0 auto;
	font-size:14px;
	background:url(../../images/point_circle_gray.png) no-repeat 0% 50%;
	}
#contentbody_right{
	width:942px;
	float:right;
	border:1px solid #e5e5e5;}
.contenttitle{
	height:32px;
	width:942px;
	padding-left:10px;
	line-height:32px;
	font-size:16px;
	color:#198ac8;
	background:-moz-linear-gradient(top,#F2F2F2,#fff);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F2F2F2',endColorStr='#fff',gradientType='0');
	background:-o-linear-gradient(top,#F2F2F2, #fff);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2), to(#fff));
	font-weight:bold;
	border-bottom:1px solid #e5e5e5;}

.bottomline{
	width:1366px;
	margin:0 auto;
	border-top:3px solid #198ac8;}
.bottomtext{
	width:100%;
	height:130px;	
	margin:0 auto;}
	
.btext{
	margin-top:20px;
	text-align:center;
	font-size:16px;
	color:#333;
	}
#table_before{
	height:500px;
	overflow:hidden;
}
#contenttable{
	width:920px;
	margin:0 auto;
	margin-top:10px;
}
.columns_titlefont{
	display:inline-block;
/* 	height:40px;
	width:92px; */x;
/* 	margin:-8px -8px -8px -8px; */
	font-size:14px;
	font-weight:blod;
	color:#198ac8;

}
.jinducolor{
	height:100%;
	width:100%;
	background:#000;
}
.tableover{
	overflow:auto;
}
.specialtitle{
	color:#888888;
}
.IchangeStyle{
	position:absolute;
	bottom:-55px !important;
	width:100%;
}
