@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

.header{

}
.logoline{
	height:68px;
}
.logo{
	position:relative;
	left:72px;
	top:4px;
	height:60px;
	width:500px;
}
.line{
	height:40px;
	background-color:#2999d5;
}
.tittleline{
	float:left;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:76px;
}
.item{
	float:left;
	display:block;
}
.item-inner{
	display:inline-block;
	color:#fff;
	width:90px;
	margin:0 2px;
}
.item-inner:active{
	background-color:#0e7ebb;
	}
.item-inner:hover{
	background-color:#0e7ebb;
	}
.tittleline span{
	color:#2692ce;
	}	
.register{
	float:right;
	margin-right:76px;
	color:#fff;
	height:40px;
	line-height:40px;
	text-align:center;
	}
.register:hover{
	color:#CCC;
	}
.banner{
	margin:0 auto;
	overflow:hidden;
}

.footer{
	height:100px;
	border-top:3px solid #198ac8;
	margin-top:20px;
	}
.btext{
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.t_black{
	margin-top:30px;
	height: 600px;
	font-size: 16px;
	margin-bottom: 36px;
}

.t_left{
	width: 218px;
	height: 276px;
	float: left;
    border:1px solid #efe5e5;
}
.t_left label{
	color:#333333;
	margin-bottom: 8px;
    margin-top: 10px;
    line-height:16px;
    margin-left: -4px;
}
.t_left a{
	color:#333333;
}
.t_left_title{
	width: 100%;
	height: 35px;
	padding-left: 16px;
    margin-bottom: 5px;
}
.t_left_title{
	background-image: url("../../images/notice-h1.png");
	height: 32px;
	font-size: 16px;
}
.t_left_title label{
	font-weight:normal;
}
.left_content{
	width: 85%;
	height: 32px;
	line-height:32px;
    padding-bottom: 26px;
    /*margin-top: 17px;*/
	border-bottom:1px solid #efe5e5;
	margin-left: 16px;
}
.left_content a{
	display: inline;
    margin-left: 7px;
    text-decoration:none;
    color:#888888;
}
.left_content{
	font-size: 14px;
}
.t_left2{
	overflow :auto;
	width:  960px;
	height: 97%;
	float: right;
	border:1px solid #efe5e5;
	color: #333333;
	}
.t_left2 h3{
	 font-family: "Microsoft YaHei";
	text-align: center;
	margin-top: 40px;
		       -moz-transform: scale(1, 0.9);
  -webkit-transform: scale(1, 0.9);
  -ms-transform: scale(1, 0.9);
}
.t_left2_img{
	display: block;
	text-align: center;
	margin-bottom: 83px;
}
.t_left2_p{
	 text-indent:20px; 
	  font-family: "Microsoft YaHei";
	     margin: 20px 20px 20px 20px;
	     font-size: 16px;
	       -moz-transform: scale(1, 0.9);
  -webkit-transform: scale(1, 0.9);
  -ms-transform: scale(1, 0.9);
}
.t_right_title{

	width: 100%;
	height: 25px;
	color:#198ac8;
	background-image: url("../../images/notice-h1.png");
	height: 32px;
}
.t_right_title label{
		margin-left: 10px;
		line-height: 16px;
		margin-top: 8px;
}
.banner_clearfloat{
	width: 100%;
	height: 240px;

}
.banner_clearfloat img{
	width: 100%;
	height: 100%;
		margin-top: -12px;
}