@CHARSET "UTF-8";
.searchbox{
	height:200px;
	width:800px;
	margin: 30px 100px;
}
label{
	float:left;
}
#restcontent {
    height: 70px;
    background-color: #e8f3f9;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
.thisbtn {
    float: right;
    margin-top: 18px;
    margin-right: 20px;
}
.timeChooseDiv {
    width: 70%;
    margin-top: 0px;
}
/* .tablebox{
	height:400px;
	width:1200px;
	margin: 80px 100px;
} */
.tablebox{
	margin-right:20px;
	margin-bottom:30px;
}
.table thead tr{
	color:#fff;
	background:#364760;
	font-size: 14px;
}  
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}
.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
    margin-top: 20px;
    margin-left:20px;
    }
    
 .bootstrap-table{
 margin-top:10px;
 margin-left:20px;
margin-bottom: 10px;
 }
.datetimepicker {
    padding: 4px;
    margin-top: 34px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
}
.input-lable {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    /* text-align: right; */
}
.form-horizontal .form-group {
        margin-bottom: 10px;
}
label{
    min-width: 80px;
}

.searchbox2{

	margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
}
.searchbutton{
	position:absoulute;
	left:20px;
	top:20px;
}
.choose{
	display:block;
	width:120px;
	
}
.choose2 {
    display: block;
    /* width: 120px; */
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.choose:hover{
	background-color:#F5F5F5;
}
.disappear{
	float:right;
	display:none;
}
.disappear2{
	float:right;
	display:none;
}
.appear{
	display:block;
}
.btn-local{
	margin-left:20px;
}
#font{
	text-align:center;
	font-size:22px;
}
#Serialnumber{
	float:right;
}
.hiddenspan{
	display:none;
}
.to{
	position: relative;
    top: 6px;
    left: -200px;
}
.timeLabelDiv{
	float: left;
	height: 34px;
	width: 26%;
	min-width: 80px;
}
.timeLabelDiv label {
	margin-top: 7px;
}
.timeChooseDiv {
	width: 70%;
	margin-top: 0px;
}
.form-control {
    display: inline;
    width: 70%;
}
.row {
    margin-bottom: 10px;
}
.row label{
	width: 20%;
	min-width: 80px;
}
.spanstyle{
	width: 25%;
}
li{
	text-align:center;
}
li:hover{
	cursor:pointer;
	background:#F5F5F5;
	font-color:black;
}
#restcontent{
	height: 70px;
	background-color: #e8f3f9;
	position: relative;
}
.btncss{
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -17px;
}
.btncss:hover {
    background: #ffc773;
}
.Allbtn{
	position: absolute;
	right: 110px;
	top: 50%;
	margin-top: -17px;
}
.Allbtn:hover {
    background: #ffc773;
}
.OKbtn{
	position: absolute;
	right: 220px;
	top: 50%;
	margin-top: -17px;
}
.OKbtn:hover {
    background: #ffc773;
}
.NObtn{
	position: absolute;
	right: 300px;
	top: 50%;
	margin-top: -17px;
}
.NObtn:hover {
    background: #ffc773;
}