@CHARSET "UTF-8";
	
	.input_top{
	 margin-left:20px;
	}
	.top{
	margin-buttom:20px;
	}
	#sty{
	  padding: 6px 12px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: #eee;
      border: 1px solid #ccc;
      padding-left:2px;
      padding-right:2px;
	}
	.form_self-inline{
	  width:200px;
    display:inline;
	}
	.self_margin{
	 margin-top:14px;
	}
	.input-self{
	width:200px;
	}
	/*#search{
	margin-left: 56px;
	}*/
	#self-company{
	margin-left: 20px;
	}
	#tableDiv{
	padding-top: 53px;
	}
	
	.th-inner {
	height:40px;
	line-height:40px;
	padding:0px;
    background-color: #364760;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.input-group-addon{
	papadd: 0 10px;
    padding: 0 10px;
    background: #fff;
    border: none;
    line-height: 32px;
    text-align: right;
    font-size: 16px;
    color: #333;
    width:100px;
	font-weight:bold;
}

.btn{
	width:106px;
	height:40px;
	padding:0px;
	margin: 0px;
}

.modal-header{
    padding: 0;
    height: 42px;
    background: #364760;
}

.modal-title{
    padding-left: 10px;
    height: 42px;
    background: #364760;
    font-size: 16px;
    line-height: 42px;
    color: #fff
}
.modal-header button span{
    font-size: 32px;
    line-height: 42px;
    padding-right: 10px;
    color: #fff;
    font-weight: 100;
}

.sure{
	margin-right:20px;
    background:#364760;
}

.newButton{
	margin-right:20px;
	width: 106px;
    height: 40px;
    background: #fff;
    font-size: 14px;
    color: #333;
    border:1px #364760 solid;
}